body{
    background-image: linear-gradient(to bottom, #023e8a, #3f37c9);
    font-family: 'Joystix', sans-serif;            
    border: 2px solid black;

}
/**************************************************HEADER PAGINA***************************************/
.top{
    font-size:23px;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 2px solid black;
    background-color: #fb8b24;
}




i{
 color: #b38b6d;
    /* #b38b6d
    
        #cd853f

        #dbb39d
    */
 
}
/**************************************************HEADER PAGINA***************************************/

/**************************************************CONTEUDO PRINCIPAL**********************************/
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}

.gameclass{
    width: 80vw;
    padding: 5vh 1vw;
    position: relative;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 5px lightslategrey;
    box-shadow: 3px 3px #000;
    border-style:solid; 
}

.listGame{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}



h2{
    text-align: center;
    margin-bottom: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: bold ;

}

#resultMsg{
    color: #fff;
    background-color: #fb8b24;
    
}

.fas{
    font-size: 70px;
    margin-top: 10px;
    opacity: 0.6;
}

.fa-player:hover{
    opacity: 1;
    cursor: pointer;
}

/* SECTION JOGADOR*/
.gameclass__user{
background-color: #06d6a0;
}





.point-user{
    display: block;
    position: absolute;
    right: 6%;
    top: 7.5%;
    transform: translate(-6%, -7.5%);
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

#player{
    text-align: left;
    position: absolute;
    left: 6%;
    top: 7.5%;
    transform: translate(-6%, -7.5%);
}

#bot{
    position: absolute;
    left: 6%;
    top: 7.5%;
    transform: translate(-6%, -7.5%);
}

.gameclass__rock{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.gameclass__scissors{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}



/* SECTION JOGADOR*/

.contra{
    border: 2px solid brown;
    font-size: 30px;
    border-radius: 100%;
    padding: 20px;
    background-color: yellow;
    color: red;
}


/* SECTION COMPUTADOR*/
.gameclass__pc{
 background-color: #f56680;

}



.img-pc{
    max-width: 100px;
    opacity: 0.3;
}



.point-pc{
    display: block;
    position: absolute;
    right: 6%;
    top: 7.5%;
    transform: translate(-6%, -7.5%);
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.fa-player{
    -moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}
/* SECTION COMPUTADOR*/



/**************************************************CONTEUDO PRINCIPAL**********************************/
.bottom{
    background-image: linear-gradient(to top, #023e8a, #3f37c9,);
    height: 81px;
}

/************************************************** FOOTER ********************************************/


@media screen and (min-width:900px){

    body{
        height: 100%;
        background-image: linear-gradient(to top, #023e8a, #3f37c9);
    }

    .top{
        font-size: 30px;
    }

    .main-content{
        flex-direction: row;
        justify-content: space-around;
    }

    .gameclass{
        margin-top: 80px;
        width: 200px;
        height: 300px;
    }

    .listGame{
        margin-top: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bottom{
        background-image: linear-gradient(to top, #023e8a, #3f37c9,);
        height: 81px;
    }
}